@model IEnumerable<ChateauDreams.Models.EnotourismModels.WineHistory>

@{
    ViewBag.Title = "Index";
}

<aside class="sidebar">
    <div class="pictures">
        <a href="~/Content/Images/1.jpg">
            <img src="~/Content/Images/1.jpg" />
        </a>
        <a href="~/Content/Images/2.jpg">
            <img src="~/Content/Images/2.jpg" />
        </a>
        <a href="~/Content/Images/3.jpg">
            <img src="~/Content/Images/3.jpg" />
        </a>
        <a href="~/Content/Images/4.jpg">
            <img src="~/Content/Images/4.jpg" />
        </a>
        <a href="~/Content/Images/5.jpg">
            <img src="~/Content/Images/5.jpg" />
        </a>
        <a href="~/Content/Images/6.jpg">
            <img src="~/Content/Images/6.jpg" />
        </a>
        <a href="~/Content/Images/7.jpg">
            <img src="~/Content/Images/7.jpg" />
        </a>
        <a href="~/Content/Images/8.jpg">
            <img src="~/Content/Images/8.jpg" />
        </a>
        <a href="~/Content/Images/9.jpg">
            <img src="~/Content/Images/9.jpg" />
        </a>
        <a href="~/Content/Images/10.jpg">
            <img src="~/Content/Images/10.jpg" />
        </a>
        <a href="~/Content/Images/11.jpeg">
            <img src="~/Content/Images/11.jpeg" />
        </a>
        <a href="~/Content/Images/12.jpg">
            <img src="~/Content/Images/12.jpg" />
        </a>
    </div>
</aside>

<h1 class="headers">Wine History</h1>     


@foreach (var story in Model)
{
    <div class="text">
        <h2>@Html.DisplayFor(modelItem => story.Title)</h2>

        <p>@Html.DisplayFor(modelItem => story.Body)</p>
    </div>

    if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = story.Id }) @:|
        @Html.ActionLink("Delete", "Delete", new { id = story.Id })
    }
    
}

@if (User.IsInRole("Administrators"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

