@using ChateauDreams.Classes;
@model IEnumerable<ChateauDreams.Models.Review>
 

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var review in Model) {

    <article class="post col-md-4">
        <h2>@review.Title</h2>
        <div>
           <!--in <td> in demo-->
            Created on: <i>@Html.DisplayFor(modelItem => review.Date)</i>
            by <i>@Html.DisplayFor(modelItem => review.Author.FullName)</i><!--TODO if there is no author-->
            <a href="~/Views/Reviews/Index.cshtml">~/Views/Reviews/Index.cshtml</a>
            <p>@Utils.CutText(review.Body))</p>
            <p>@Html.ActionLink("Edit", "Edit", new { id = review.Id }) |
            @Html.ActionLink("Details", "Details", new { id = review.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = review.Id })</p>
        </div>
        </article>
        
}


