@using ChateauDreams.Classes;
@model IEnumerable<ChateauDreams.Models.Review>


@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*@if (Model == null || !Model.Any())
{
    <h3>No reviews</h3>
}*@
@*else
{*@




    @foreach (var review in Model)
    {

    <article class="post col-md-12">
        <h4>
        <div> @Html.DisplayFor(modelItem => review.Title)</div>
        </h4>
        by
        @if (review.Author.FullName == null)
        {
            <i>Anonymous</i>;
        }
        <i>@Html.DisplayFor(modelItem => review.Author.FullName)</i>;
      
        <div>
            Created on: <i>@Html.DisplayFor(modelItem => review.Date)</i>
            <p>@Utils.CutText(review.Body))</p>

            @if (User.IsInRole("Administrators") || review.Author != null && User.Identity.Name == review.Author.UserName)
            {
                @Html.ActionLink("Edit", "Edit", new { id = review.Id })@:|
            }
 
            @if (User.IsInRole("Administrators") || review.Author != null && User.Identity.Name == review.Author.UserName)
            {
                   @Html.ActionLink("Delete", "Delete", new { id = review.Id })@:|
            }

            @Html.ActionLink("Details", "Details", new { id = review.Id })

        </div>
    </article>
        // }

      
    }
@*<ul class="pagination">
    @for (int page = 1; page <= ViewBag.TotalPages; page++)
    {
        @:
        <li>@Html.ActionLink(page, "Index", "ReviewsController")</li>
           }
</ul>*@




