@using ChateauDreams.Classes;
@model PagedList.IPagedList<ChateauDreams.Models.Review>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Review";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var review in Model)
{

    <article class="post col-md-12">
        <h4>
        <div> @Html.DisplayFor(modelItem => review.Title)</div>
        </h4>
        by
        @if (review.Author.FullName == null)
        {
            <i> No Author</i>;
        }
        <i>@Html.DisplayFor(modelItem => review.Author.FullName)</i>;
      
        <div>
            Created on: <i>@Html.DisplayFor(modelItem => review.Date)</i>
            <p>@Html.Raw(@Utils.CutText(review.Body))</p>

            @if (User.IsInRole("Administrators") || review.Author != null && User.Identity.Name == review.Author.UserName)
            {
                @Html.ActionLink("Edit", "Edit", new { id = review.Id })@:|
            }
 
            @if (User.IsInRole("Administrators") || review.Author != null && User.Identity.Name == review.Author.UserName)
            {
                   @Html.ActionLink("Delete", "Delete", new { id = review.Id })@:|
            }

            @Html.ActionLink("Details", "Details", new { id = review.Id })

        </div>
    </article>

}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
{
    Display = PagedListDisplayMode.IfNeeded,
    DisplayPageCountAndCurrentLocation = true,
    MaximumPageNumbersToDisplay = 5

})



