@model IEnumerable<ChateauDreams.Models.Enotourism.EnotourismHistory>

@{
    ViewBag.Title = "Index";
}

<h1 class="headers">Enotourism History</h1>


@foreach (var story in Model)
{
    <div class="text">
        <h2>@Html.DisplayFor(modelItem => story.Title)</h2>

        <p>@Html.DisplayFor(modelItem => story.Body)</p>
    </div>

    if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = story.Id }) @:|
        @Html.ActionLink("Delete", "Delete", new { id = story.Id })
    }

}

@if (User.IsInRole("Administrators"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

