<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/add-class-on-current-li.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse nav">
                <ul class="menu">
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                        <img src="~/Content/Images/imageChat.jpg" title="Chateau Dreams" alt="" width="120" height="45" />
                    </a>
                    <li>
                        <a href="#">Hotel</a>
                        <ul>
                            <li><a href="@Url.Action("Index", "AboutUs")">About us</a></li>
                            <li><a href="@Url.Action("Index", "Rooms")">Rooms</a></li>
                            <li><a href="@Url.Action("Index", "Restaurant")">Restaurant</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Reservations", "Index", "Reservations")</li>

                    <li>
                        <a href="#">Enotourism</a>
                        <ul>
                            <li><a href="@Url.Action("Index", "WineHistory")">Wine History</a></li>
                            <li><a href="@Url.Action("Index", "EnotourismHistory")">Enotourism History</a></li>
                            <li><a href="@Url.Action("Index", "TastingRoom")">Tasting Room</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Gallery", "#", "Gallery")</li>
                    <li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <div style="float:right">@Html.Partial("_LoginPartial")</div>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Notifications")
        @RenderBody()
        
        <footer class="footer-home">
            <hr />
            <p>&copy; @DateTime.Now.Year - Chateau Dreams</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/fade-out.js"></script>
</body>
</html>
