@model IEnumerable<ChateauDreams.Models.Hotel.AboutUs>
@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="text">
        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>

        <p>@Html.DisplayFor(modelItem => item.Text)</p>

    </div>
    <div class="row">
        <img style="display: inline; margin: 0 5px;"  src="~/Content/Images/vineyards.jpg" alt="" width="270" height="150" />
        <img style="display: inline; margin: 0 5px;"  src="~/Content/Images/vineyards1.jpg" alt="" width="270" height="150" />
        <img style="display: inline; margin: 0 5px;"  src="~/Content/Images/valleyTrees.jpg" alt="" width="270" height="150" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/valley.jpg" alt="" width="270" height="150" />
 </div>

            if (User.IsInRole("Administrators"))
            {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }

            }

            @if (User.IsInRole("Administrators"))
            {
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            }

