@model IEnumerable<ChateauDreams.Models.Hotel.Restaurant>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="text">
        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>

        <p>@Html.DisplayFor(modelItem => item.Text)</p>

    </div>
    <div class="row">
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurantView.jpg" alt="" width="200" height="200" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurant6.jpg" alt="" width="200" height="200" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurant1.jpg" alt="" width="200" height="200" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurant2.jpg" alt="" width="200" height="200" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurant3.jpg" alt="" width="200" height="200" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurant4.jpg" alt="" width="200" height="200" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurant5.jpg" alt="" width="200" height="200" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurant7.jpg" alt="" width="200" height="200" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurant8.jpg" alt="" width="200" height="200" />
        <img style="display: inline; margin: 0 5px;" src="~/Content/Images/restaurant9.jpg" alt="" width="200" height="200" />
    </div>

    if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    }

}

@if (User.IsInRole("Administrators"))
            {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


